.header {
	background-image: linear-gradient(51deg, #3695ff 0%, #3564fc 100%);
	background-size: cover;
	height: 100vh;
	min-height: 600px;
	position: relative;
	z-index: 1;
	text-align: center;
	& .container {
		z-index: 3;
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-image: url(../../assets/img/header/lineEffect.png);
		background-size: cover;
		z-index: 2;
	}

	&_top {
		margin: 15px auto 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&_social {
			list-style: none;
			padding: 0;
			display: flex;
			&_item {
				margin-right: 15px;
				z-index: 4;
			}
			&_link {
				padding: 5px;
				font-size: 28px;
				z-index: 5;
				color: #fff;
				transition: all .2s;
				&:hover {
					color: #0041ff;
				}
			}
		}

		&_phone {
			font-size: 28px;
			color: #ffffff;
			&>span {
				margin-right: 10px;
			}
		}
	}

	&_content {
		position: absolute;
		text-align: center;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		&_wrapper {
			margin-bottom: 96px;
		}
		&_photo {
			margin: 6% auto 5%;
			width: 230px;
			height: 230px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			position: relative;
			& > img {
				width: 100%;
				z-index: 2;
				border-radius: 50%;
			}

			&::before {
				position: absolute;
				content: '';
				width: 250px;
				height: 250px;
				background: rgba(255,255,255,0.4);
				border-radius: 50%;
			}

			&::after {
				position: absolute;
				content: '';
				width: 270px;
				height: 270px;
				background: rgba(255,255,255,0.2);
				border-radius: 50%;
			}

		}

		&_title {
			max-width: 800px;
			margin: 0 auto;
			& > h1 {
				text-align: center;
				text-transform: uppercase;
				color: #ffffff;
				font-size: 50px;
				letter-spacing: 1.25px;
				line-height: 60px;
				margin-top: 10%;
				margin-bottom: 3%;
			}
		}

		&_subtitle {
			max-width: 765px;
			margin: 2% auto 5%;
			color: #ffffff;
			& > p {
				font-weight: 300;
				line-height: 35px;
				letter-spacing: 0.4px;
				font-size: 16px;
			}
		}

		&_arrow {
			position: absolute;
			z-index: 5;
			left: 0;
			right: 0;
			bottom: 30px;
			animation-name: arrowMoving;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			& > a {
				font-size: 35px;
				padding: 5px;
				color: #fff;
				transition: all .2s;
			}
		}

		@keyframes arrowMoving {
			0% {
				transform: translateY(0);
				opacity: 0;
			}
			50% {
				transform: translateY(50%);
				opacity: 1;
			}
			100% {
				transform: translateY(0%);
				opacity: 0;
			}
		}
	}
}

@media (max-height: 600px) {
	.header {
		&_content {
			&_wrapper {
				margin-bottom: 65px;
				margin-top: 80px;
			}
			&_photo {
				width: 180px;
				height: 180px;

				&::before {
					width: 200px;
					height: 200px;
				}

				&::after {
					width: 220px;
					height: 220px;
				}
			}

			&_title {
				& > h1 {
					margin-top: 4%;
					font-size: 34px;
					margin-bottom: 0;
				}
			}

			&_subtitle {
				margin: 0 auto 3%;

				& > p {
					margin: 0;
					line-height: 20px;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.header {
		&_content {
			&_wrapper {
				margin-bottom: 65px;
				margin-top: 45px;
			}
			&_photo {
				width: 180px;
				height: 180px;

				&::before {
					width: 200px;
					height: 200px;
				}

				&::after {
					width: 220px;
					height: 220px;
				}
			}

			&_title {
				& > h1 {
					margin-top: 4%;
					font-size: 34px;
					margin-bottom: 0;
					line-height: 40px;
				}
			}

			&_subtitle {
				margin: 0 auto 3%;

				& > p {
					margin: 0;
				}
			}
		}
	}
}

@media (max-width: 576px) {
	.header {
		&_top {
			flex-wrap: wrap;
			justify-content: space-evenly;

			&_social {
				margin: 0;

				&_item {
					margin: 0 7.5px;
				}
			}

			&_phone {
				font-size: 25px;
			}
		}
		&_content {
			&_photo {
				width: 130px;
				height: 130px;

				&::before {
					width: 140px;
					height: 140px;
				}

				&::after {
					width: 150px;
					height: 150px;
				}
			}

			&_title {
				& > h1 {
					margin-top: 6%;
					font-size: 26px;
					line-height: 36px;
				}
			}

			&_subtitle {
				margin: 3% auto 7%;
				padding: 0 1px;
			}
		}
	}
}